{% extends "base.html" %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-offset-3 col-md-6">

    {% include '_flash_messages.html' %}

    {% if post.image %}
    <img src="{{ post.imgsrc }}" alt="{{ post.image }}" height="300px" class="img-rounded">
    {% endif %}

    <div class="row">
      <div class="col-md-10">
          <h3>{{ post.title }}</h3>
      </div>
      <div class="col-md-1">
        {% if session.get('is_author') %}
          <a href="{{ url_for('edit', post_id=post.id) }}">
            <button class="btn btn-default"> Edit </button>
          </a>
        {% endif %}
      </div>
      <div class="col-md-1">
        {% if session.get('is_author') %}
          <a href="{{ url_for('edit', post_id=post.id) }}">
            <button class="btn btn-default"> Delete </button>
          </a>
        {% endif %}
      </div>
    </div>

    <hr>
    {{ post.body|markdown }}

    <hr>

    <div class="text-muted">Posted by {{ post.author.fullname }}
      on {{ post.publish_data.strftime('%Y-%m-%d') }}
    </div>
  </div>
</div>
{% endblock %}
